<div class="wrapper">
    <div class="sidebar">
        <h2>Event ticketing system</h2>
        <ul>
            <li><a routerLink="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a routerLink="/profile"><i class="fas fa-user"></i>Profile</a></li>
            <li><a routerLink="/profile"><i class="fa fa-bars"></i> Events</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="https://t.me/youngAndMad"><i class="fas fa-address-book"></i>Support sContact</a></li>
        </ul>
        <ul>
            <li>
                <a href="">
                    <i class="fas fa-sign-out-alt"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</div>