.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 30ch;
  animation: typing 15s steps(40) infinite, blink 10s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90ch; /* Adjust this value to match the width of your text */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
