@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Josefin+Slab');

$body-bg-color: #aeb6bf;

@keyframes darken {
  0% { font-size: 100px; color: #566573; }
  50% { font-size: 200px; color: #273746; }
  100% { font-size: 250px; color: #17202a; }
}

body {
  background-color: $body-bg-color;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  animation-name: darken;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

h3 {
  font-family: 'Josefin Slab', serif;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}
